html {
  font-size: 18px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 3px #f5d830fb;
}

h2 {
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 3px 3px #f5d830fb;
}

p, li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #f5d830fb;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #69a8e4d0;
  padding: 0 20px 20px 20px;
  border: 5px solid rgba(24, 24, 24, 0.808);
}

img {
  display: block;
  margin: 0 auto;
}

/*
p {
    color: rgb(76, 49, 126);
    width: 500px;
    border: 1px solid black;
  }

h1 {
    color: rgb(104, 15, 104);
}

h2 {
 color: rgb(172, 53, 53);
}
*/